---
import "../styles/globals.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const identity = {
  firstName: "Lefteris",
  country: "Greece",
  occupation: "Software Engineer",
  hobbies: ["gaming", "coding"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Java"];

// define the color of the skill
const skillColor = "navy";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
    <style define:vars={{ skillColor }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }

      .skill {
        color: var(--skillColor);
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <Header />
    <h1>About Me</h1>

    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>
        I live in {identity.country} and I work as a {identity.occupation}.
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two of my hobbies are: {identity.hobbies[0]} and{" "}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    <Footer />
  </body>
</html>
